{% extends 'base.html' %}

{% load static %}
{% block content %}

<style>
    .container div {
        width: 280px;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;

    }

    .container img {
        width: 100%;
        border-radius: 8px;
    }
</style>

<div class="container">
    <div class="item1">
        <img src="https://picsum.photos/200/300">
    </div>
    <div class="item1">
        <img src="https://picsum.photos/200/340">
    </div>
    <div class="item1">
        <img src="https://picsum.photos/200/260">
    </div>
    <div class="item1">
        <img src="https://picsum.photos/200/400">
    </div>
    <div class="item1">
        <img src="https://picsum.photos/200/300">
    </div>
    <div class="item1">
        <img src="https://picsum.photos/200/250">
    </div>
    <div class="item1">
        <img src="https://picsum.photos/200/200">
    </div>
    <div class="item1">
        <img src="https://picsum.photos/200/280">
    </div>
    <div class="item1">
        <img src="https://picsum.photos/200/330">
    </div>
    <div class="item1">
        <img src="https://picsum.photos/200/250">
    </div>
    <div class="item1">
        <img src="https://picsum.photos/200/200">
    </div>
    <div class="item1">
        <img src="https://picsum.photos/200/440">
    </div>
    <div class="item1">
        <img src="https://picsum.photos/200/320">
    </div>
    <div class="item1">
        <img src="https://picsum.photos/200/290">
    </div>
    <div class="item1">
        <img src="https://picsum.photos/200/420">
    </div>
</div>
<script src="{% static 'js/magicgrid.js' %}"></script>

{% endblock %}